body{
    margin: 0;
    padding: 0;
} 
 
#one{
    background-color: forestgreen;
    color: white;
}
#two{
    background-color: rgb(76, 176, 80);
    border-color: forestgreen;
}
#three{
    background-color: red;
    border-color: red;
}
#heading{
    font-family:arial narrow;
}
#td1{
    border: 1px solid black;
}
table, tr, td {
    border-collapse: collapse;
    border: 1px solid;
}